.navbar {
  background: #212529;
  color: white;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 3;
}

.navbar__title {
}

.navbar__menu {
  background: #fed136;
  border: none;
  border-radius: 0.25rem;
  padding: 1rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.dropdown {
  background-color: #212529;
  position: fixed;
  right: 0;
  left: 0;
  top: 65px;
  z-index: 2;
  /* closed */
  /* transform: scaleY(0);
  transform-origin: top;
  transition: transform 300ms ease-in-out; */
  height: 0;
  transition: height 1000ms ease-in-out;
}

.dropdown--open {
  /* open */
  /* transform: scaleY(1); */
  height: 190px;
}

.dropdown__list {
  font-size: 3rem;
  margin: 0;
  list-style: none;
  padding: 0;
  padding: 10px;
}

.dropdown__item {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 1rem 0;
  /* top+bottom left+right */
}

.dropdown__item:first-of-type {
  margin-top: 0;
}
