.navbar {
  background: #212529;
  color: white;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* This gives gives the outer part of box space, compressing the content inside */
  z-index: 3; /* The higher the number the higher priority when it comes to showing. This will go on top of .dropdown which has z-index: 2 */
}

.navbar__title {
}

.navbar__menu {
  background: #fed136;
  border: none;
  border-radius: 0.25rem;
  padding: 1rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.dropdown {
  background-color: #212529;
  position: fixed;
  right: 0;
  left: 0;
  top: 65px;
  z-index: 2;
  /* closed */
  /* transform: scaleY(0);
  transform-origin: top;
  transition: transform 300ms ease-in-out; */
  height: 0;
  transition: height 1000ms ease-in-out; /* This is the animation within 1000ms, to go in and out with the navbar menu. */
}

.dropdown--open {
  /* open */
  /* transform: scaleY(1); */
  height: 190px;
}

.dropdown__list {
  font-size: 3rem;
  margin: 0;
  list-style: none;
  padding: 0;
  padding: 10px;
}

.dropdown__item {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 1rem 0;
  /* top+bottom left+right */
}

.dropdown__item:first-of-type {
  /* This selects the first li from top to bottom in that classname */
  margin-top: 0;
}
